@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center header">
    <h1 class="display-4">my music library</h1>
    <p>add your favourite songs to the list</p>
    <img class="music-library-icon" src="/lib/images/music-library.svg" alt="music-library-icon"/>
</div>
